.container {
  display: flex;
  min-height: 95vh;
}

body {
  margin: 0;
  padding: 0;
  min-height: 95vh;
  font-family: Arial, Helvetica, sans-serif;
}

.title { grid-area: header; }

.menu {
  background: #303030;
  color: white;
  flex: 1;
  padding: 15px;
  -webkit-box-shadow: inset -15px 0px 15px 1px rgba(0,0,0,0.31);
  -moz-box-shadow: inset -15px 0px 15px 1px rgba(0,0,0,0.31);
  box-shadow: inset -15px 0px 15px 1px rgba(0,0,0,0.31);
}

.menu a {
  width: 100%;
  color: #c4ed6d;
  text-decoration: none;
}

.menu a:hover {
  color: #dde4cf;
}

.menu ul, li {
  list-style-type: none;
  margin-bottom: 10px;
}

.menu li.active {
  padding: 5px;
  border-radius: 5px;
  background: gray;
}

.menu ul {
  padding-left: 15px;
}

.menu li {
  padding-right: 10px 10px 10px 0;
}

.page {
  flex: 5;
  padding: 25px;
}

.footer {
  justify-content: center;
  background: #777;
  color: white;
  padding: 15px;
  display: flex;
}

.footer a {
  color: #c4ed6d;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {background-color: #f2f2f2;}

pre {
  padding: 15px;
  border-radius: 5px;
  background: #303030;
  color: white;
}

blockquote {
  background: #f5f5f5;
  margin: 0;
  padding: 1em 40px 1em 40px;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 100%;
  }

  .menu {
    display: none;
    /* position: fixed;
    width: 100vw;
    height: 100vh; */
    flex: 0;
  }

  .page {
    width: 0;
  }
}